body {
    font-family: sans-serif;
    width: 550px;
    margin: 0px auto;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    margin: 10px auto;
    font-size: 38px;
}

.homeNav {
    display: flex;
    margin: auto;
    width: fit-content;
}

a, .submit {
    margin: 25px;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    font-size: 15px;
    font-family: sans-serif;
}

table {
    margin: 20px auto;
    width: 450px;
}

input {
    width: 70px;
    margin: auto;
    display: block;
    font-size: 19px;
}

td, th {
    text-align: center;
    width: 120px;
    font-size: 18px;
    padding-bottom: 7px;
}

.submit {
    border: 0;
    margin: auto;
    display: block;
    font-size: 19px;
    background-color: #3C3744;
    color: #FBFFF1;
}

p {
    margin: 0;
}

.back {
    margin: 15%;
}

.calculator {
    background-color: #B4C5E4;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    padding: 1em;
}

header {
    display: flex;
    position: relative;
    margin: 20px auto;
}

img {
    width: 64px;
    position: absolute; 
    right: 35px;
}

a {
    margin: 12px auto 12px 35px;
    display: block;
    width: fit-content;
    background-color: #1F7A8C;
    color: #FBFFF1;
}

h2 {
    margin: 0 20px;
}